.container {
  min-height: 100vh;
  background-color: #ffffff;
  padding: 47px 0 24px;
}

.content {
  max-width: 720px;
  margin: 0 auto;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.backgroundSection {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.sectionTitle {
  font-size: 24px;
  font-weight: 700;
  color: #181818;
  margin: 0;
  line-height: 36px;
}

.sectionDescription {
  font-size: 16px;
  color: #555555;
  margin: 0;
  line-height: 26px;
}

.toggleWrapper {
  display: flex;
}

.optionWrapper {
  margin-top: 0;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

/* tablet + mobile */
@media (max-width: 1023px) {
  .container {
    padding: 40px 0 24px;
  }

  .content {
    gap: 40px;
  }
}

/* mobile */
@media (max-width: 767px) {
  .container {
    padding: 24px 0;
  }

  .content {
    gap: 40px;
  }

  .sectionTitle {
    font-size: 20px;
    line-height: 30px;
  }

  .sectionDescription {
    font-size: 14px;
    line-height: 22px;
  }
}