.loading {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backgroundImg {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.cardListContainer {
  display: flex;
  justify-content: center;
  padding: 113px 24px;
}

@media (width <= 1023px) {
  .cardListContainer {
    padding: 93px 24px;
  }
}

@media (width <= 767px) {
  .cardListContainer {
    padding: 32px 24px;
  }
}
