.cardModalContainer {
  width: 100%;
  max-width: 600px;
  padding: 0 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cardModal {
  display: flex;
  flex-direction: column;
  height: 476px;
  padding: 40px;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 8%);
  overflow: hidden;
  z-index: var(--z-modal);
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgb(0 0 0 / 60%);
  z-index: var(--z-modal-backdrop);
}

.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--color-gray-200);
}

.user {
  display: flex;
  align-items: center;
  gap: 14px;
}

.userImg {
  width: 56px;
  border-radius: 9999px;
  border: 1px solid var(--color-gray-200);
}

.userTextContainer {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.userText {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}

.userText span {
  font-weight: 700;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  flex-grow: 1;
  min-height: 0;
}

.content {
  min-height: 0;
  margin-top: 16px;
  padding-right: 20px;
  font-size: 18px;
  font-weight: 400;
  overflow-y: scroll;
}

.content::-webkit-scrollbar {
  width: 4px;
}

.content::-webkit-scrollbar-thumb {
  background: var(--color-gray-300);
  border-radius: 8px;
}

.closeButton {
  display: flex;
  justify-content: center;
}

.date {
  color: var(--color-gray-400);
  font-size: 12px;
  font-weight: 400;
}

@media (width <= 767px) {
  .cardModal {
    height: 376px;
    padding: 30px;
  }
}
