.emojiContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.emojiButtonContainer {
  display: flex;
  align-items: center;
  gap: 2px;
}

.emojiButtonList {
  display: flex;
  gap: 8px;
}

.emojiArrowDown {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
}
